<h3> Application Info </h3>

  <%= render partial: "./shared/application_info" %>

  <% @application.pets.each_with_index do |pet, index|%>
    <li><%=pet.name%></li>

     <% if @application.application_pets[index].status == nil %>
        <%if pet.adoptable == true %>
          <%= button_to "Approve Adoption for #{pet.name}", "/admin/applications/#{@application.id}", method: :patch, params:{pet_id: pet.id, status: "Approved"} %><br><br>
          <%= button_to "Reject Adoption for #{pet.name}", "/admin/applications/#{@application.id}", method: :patch, params:{pet_id: pet.id, status: "Rejected"} %><br><br>
        <%elsif pet.adoptable == false %>
          <%= "**#{pet.name} Has Already Been Approved on Another Application**" %>
          <%= button_to "Reject Adoption for #{pet.name}", "/admin/applications/#{@application.id}", method: :patch, params:{pet_id: pet.id, status: "Rejected"} %><br><br>
        <%end%>
        <% elsif @application.application_pets[index].status == "Approved" %>
        <%= "Application Approved" %><br><br>
        <% elsif @application.application_pets[index].status == "Rejected" %>
        <%= "Application Rejected" %><br><br>
      <%end%>
  <%end%>
</ul>
</ul>
