<ul>
  <li><%= "Applicant Name: #{@application.name}" %></li>
  <li><%= "Applicant Address: #{@application.street}" %></li>
  <li><%= "Applicant City: #{@application.city}, #{@application.state}" %></li>
  <li><%= "Applicant Zip Code: #{@application.zip}" %></li>
  <li><%= "Applicant Message: #{@application.message}" %></li>
  <li><%= "Application Status: #{@application.status}" %></li>
  <li><%= "Pets Included:" %></li>
</ul>
  
